.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.box {
  width: 150px;
  height: 150px;
  cursor: pointer;
  transition: 1s all;
}

.orange {
  background: #f99415;
}

.green {
  background: #73ba3c;
}

.red {
  background: #e75a5a;
}

.blue {
  background: blue;
}

.circle {
  border-radius: 50%;
}
